<!-- Footer -->
<footer class="footer black" role="contentinfo">
	<div class="wrap">
		<div class="row">
			<!-- Column -->
			<article class="one-third">
				<h6>Need help?</h6>
				<p>Contact us via phone or email:</p>
				<p class="contact-data"><span class="icon icon-themeenergy_call"></span>+91 87543 71603</p>
				<p class="contact-data"><span class="icon icon-themeenergy_mail-2"></span>contact.buzbee@gmail.com</p>
			</article>
			<!-- //Column -->

			<!-- Column -->
			<article class="one-fourth">
				<h6></h6>
				<ul class="social">
				</ul>
			</article>
			<!-- //Column -->
		</div>

		<div class="copy">
			<p>© Copyright 2019, BusBee. All rights reserved. </p>

			<nav role="navigation" class="foot-nav">
				<ul>
					<li></li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
<!-- //Footer -->