<!-- Footer -->
	<footer class="footer black" role="contentinfo">
		<div class="wrap">
			<div class="row">
				<!-- Column -->
				<article class="one-half">
					<h6>About us</h6>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
				</article>
				<!-- //Column -->
				
				<!-- Column -->
				<article class="one-fourth">
					<h6>Need help?</h6>
					<p>Contact us via phone or email:</p>
					<p class="contact-data"><span class="icon icon-themeenergy_call"></span> +91 88888 88888</p>
					<p class="contact-data"><span class="icon icon-themeenergy_mail-2"></span> <a>help@busbee.com</a></p>
				</article>
				<!-- //Column -->
				
				<!-- Column -->
				<article class="one-fourth">
					<h6></h6>
					<ul class="social">
					</ul>
				</article>
				<!-- //Column -->
			</div>
			
			<div class="copy">
				<p>© Copyright 2019, BusBee. All rights reserved. </p>
				
				<nav role="navigation" class="foot-nav">
					<ul>
						<li></li>
					</ul>
				</nav>
			</div>
		</div>
	</footer>
	<!-- //Footer -->