<script>
	document.body.classList.add("home");
	document.getElementById("BusBeeTitle").innerHTML = "BusBee - Home";	
</script>

<!-- Main -->
<main class="main" role="main">
	<!-- Intro -->
	<div class="intro">
		<div class="wrap">
			<div class="textwidget">
				<h1 class="wow fadeInDown">Need a ride?</h1>
				<h2 class="wow fadeInUp">You've come to the right place.</h2>
				<div class="actions">
					<a href="#services" title="Our services" class="btn large white wow fadeInLeft anchor">Our
						services</a>
					<a href="#booking" title="Make a booking" class="btn large color wow fadeInRight anchor">Make a
						booking</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //Intro -->

	<!-- Search -->
	<div class="advanced-search color" id="booking">
		<div class="wrap">
			<form role="form" action="/users/login">
				<!-- Row -->
				<div class="f-row">
					<!-- <div class="form-group datepicker one-third">
							<label for="dep-date">Departure date and time</label>
							<input type="text" id="dep-date" />
						</div> -->
					<div class="form-group select one-third">
						<label>Departure Date</label>
						<select>
							<option selected>&nbsp;</option>
							<!-- <optgroup label="SASTRA"> -->
							<option value="10May2019">May 10, 2019</option>
							<option value="13May2019">May 13, 2019</option>
							<!-- </optgroup>	 -->
						</select>
					</div>
					<div class="form-group select one-third">
						<label>Pick up location</label>
						<select>
							<option selected>&nbsp;</option>
							<optgroup label="SASTRA">
								<option value="SASTRA">SASTRA Deemed University</option>
							</optgroup>
						</select>
					</div>
					<div class="form-group select one-third">
						<label>Drop off location</label>
						<select>
							<option selected>&nbsp;</option>
							<optgroup label="Andra Pradesh">
								<option value="Vijayawada">Vijayawada</option>
								<option value="Guntur">Guntur</option>
								<option value="Nellore">Nellore</option>
							</optgroup>
						</select>
					</div>
				</div>
				<!-- //Row -->
				<!-- Row -->
				<div class="f-row">
				</div>
				<!-- //Row -->
				<!-- Row -->
				<div class="f-row">
					<div class="form-group right" style="display: inline !important;">
						<button type="submit" class="btn large black">Submit</button>
					</div>
				</div>
				<!-- //Row -->
			</form>
		</div>
	</div>
	<!-- //Search -->

	<!-- Services iconic -->
	<div class="services iconic white">
		<div class="wrap">
			<div class="row">
				<!-- Item -->
				<div class="one-third wow fadeIn" data-wow-delay=".2s">
					<span class="circle"><span class="icon icon-themeenergy_lockpad"></span></span>
					<h3></h3>
					<p>
						<h3>Reliable transfers</h3>
					</p>
				</div>
				<!-- //Item -->

				<!-- Item -->
				<div class="one-third wow fadeIn" data-wow-delay=".4s">
					<span class="circle"><span class="icon icon-themeenergy_open-wallet"></span></span>
					<h3></h3>
					<p>
						<h3>No booking fees</h3>
					</p>
				</div>
				<!-- //Item -->

				<!-- Item -->
				<div class="one-third wow fadeIn" data-wow-delay=".4s">
					<span class="circle"><span class="icon icon-themeenergy_stars"></span></span>
					<h3></h3>
					<p>
						<h3>Quality vehicles</h3>
					</p>
				</div>
				<!-- //Item -->
			</div>
		</div>
	</div>
	<!-- //Services iconic -->

	<!-- Call to action -->
	<div class="black cta">
		<div class="wrap">
			<p class="wow fadeInLeft">Grab your tickets now.</p>
		</div>
	</div>
	<!-- //Call to action -->

	<!-- Services -->
	<div class="services boxed white" id="services">

		<!-- Item -->
		<article class="one-third">
			<figure class="">
				<div class="overlay">
				</div>
				<div class="details">
					<h4></h4>
					<p></p>
				</div>
			</figure>
		</article>
		<!-- //Item -->
		<!-- Item -->
		<article class="one-third wow fadeIn" data-wow-delay=".4s">
			<figure class="featured-image">
				<img src="" alt="" />
				<div class="overlay">
					<a href="services.html" class="expand">+</a>
				</div>
			</figure>
			<div class="details">
				<h2><a>CURRENT SERVICE</a></h2>
				<p>We are currently operating between SASTRA University, Thanjavur and Vijayawada, Andra Pradesh</p>
			</div>
		</article>
		<!-- //Item -->
		<!-- Item -->
		<article class="one-third wow fadeIn" data-wow-delay=".4s">
		</article>
		<!-- //Item -->
	</div>
	<!-- //Services -->

	<!-- Partners -->
	<div class="partners white center">
		<div class="wrap">
			<h2 class="wow fadeIn">Our partner</h2>
			<div class="one-fifth wow fadeIn" data-wow-delay=".2s"><a><img src="" alt="" /></a></div>
			<div class="one-fifth wow fadeIn" data-wow-delay=".4s"><a><img src="images/uploads/partner logo.png"
						alt="" /></a></div>
			<div class="one-fifth wow fadeIn" data-wow-delay=".6s"><a><img src="" alt="" /></a></div>

		</div>
	</div>
	<!-- //Partners -->

	<!-- Call to action -->
	<div class="color cta">
		<div class="wrap">
			<p class="wow fadeInLeft">Get set go.</p>
		</div>
	</div>
	<!-- //Call to action -->
</main>
<!-- //Main -->